*{
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
/* --------------------------------Header-------------------------------- */

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.052), rgba(0, 0, 0, 0.433)),
    url(images/head-bg.jpg);
}
.header{}
.header{}

nav{
    background-color: #121212;
    padding: 20px 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
}
nav img{
    height: 40px;
}
.nav-links{ }
.nav-links a{
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    transition: 0.5s;
    
}
.nav-links a:hover{
    color: #ffffffa5;
}
.nav-links li{
    list-style: none;
 }
.nav-links button{ 
    background-color: #be0001;
    border: 0px;
    color: rgba(255, 255, 255, 0.753);
    font-size: 15px;
    padding: 9px 19px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

 #cart-btn{
    background-color: transparent;
 }
.nav-links{ }

.header-main{
    /* border: 1px solid black; */
    max-width: 60vw;
    margin-top: 15vw;
    margin-left: 90px;
}
.header-main h3{
    color: rgba(0, 0, 0, 0.715);
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
}
.head-type{
    margin: 25px 0px;
    text-transform: capitalize;
    font-size: 50px;
    /* border: 1px solid black; */
    height: 9vw;
    overflow: hidden
}
.header-main b{
    color: ;
}
.header-main p{
    font-size: 15px;
    max-width: 49vw;
    text-align: left;
    color: rgba(0, 0, 0, 0.715);
    margin-bottom: 35px ;
}
.header-main button{ 
    background-color: #be0001;
    border: 0px;
    color: rgba(255, 255, 255, 0.753);
    font-size: 15px;
    text-transform: uppercase;
    padding: 9px 19px;
    border-radius: 5px;
    cursor: pointer;
}
.header-main{}
.header-main{}
.header-end{
    /* background-color: aqua; */
    width: 100%;
    position: absolute;
    bottom: 0;

}
.header-end h4{
    margin-bottom: 5px;
}

/* ------------------------------Header end------------------------------ */
/* ------------------------------sell-sec------------------------------ */
.sell-sec{
    background-color: #2e2e2e;
    padding: 50px 90px;
}
.sell-sec{}
.sell-sec{}




.heading-sell h1{
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    color: #ffffffc0;
    font-family: 'Poiret One', cursive; 
}

.books-box{
    /* border: 1px solid #fff; */
    margin-top: 5vw;
    
}
.books-box{}
.books-box{}
.book-box{
    background-color: #fff;
    margin: 0px 2px;
    border-radius: 0px 0px 20px 0px;
}
.info{
    /* background-color: aqua; */
    padding-left: 10px;
}
.book-box img{
    height: 20vw;
    border: 1px solid #fff;
    transition: transform .3s;
}
.book-box img:hover{
    transform: scale(1.1); 
    filter: brightness(90%);
}
.book-box h2{
    font-size: 23px;
    margin: 10px 0px;
}
.book-box h3{
    font-size: 15px;
    margin: 5px 0px;
}
.book-box i{
    color: rgb(191, 179, 110);
}
.book-box h4{ 
    font-size: 13px;
    margin-right: 25px;
}
.book-box h5{
    font-size: 20px;
    margin: 5px 0px;
    color: #be0001;
}





















/* ----------------------------sell-sec end---------------------------- */
/* ----------------------------address-sec ---------------------------- */
.address-sec{
    /* background-color: #be0001; */
}






































/* --------------------------address-sec end--------------------------- */
/* --------------------------footer--------------------------- */

.footer{
    background: linear-gradient(rgba(0, 0, 0, 0.619), rgba(0, 0, 0, 0.625)),
        url(images/footer-bg.jpg);
    padding: 10px 90px;
    font-family: 'Montserrat', sans-serif;
}
.footer{}
.footer{}
.footer{}

.footer-links{
    margin-top: 85px;
    margin-bottom: 30px;
}
.footer-links{}
.footer-links{}
.footer-links{}

.f-l-s{

}
.f-l-s h3{
    color: white;


}
.f-l-s li{
    list-style: none;
    margin: 10px 0px;
}
.f-l-s a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.619);
    transition: 0.5s;
}
.f-l-s a:hover{
    text-decoration: underline;
    color: #fff;
}
.f-l-s{}

.l-5 a{
    margin-right: 10px ;
    margin-top: 20px;
}

.credit{
    margin-top: 30px;
}
.credit p{
    color: rgba(255, 255, 255, 0.834);
    max-width: 67vw;
}
.credit h5{
    color: rgba(255, 255, 255, 0.834);
}






























/* ------------------------footer end------------------------- */